<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="eng">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<div th:if="${param.error}">
    invalid username and password.
</div>
<div th:if="${param.logout}">
    you have logged out.
</div>

<form th:action="@{/login}" method="post">
    <div><label>User name: <input type="text" name="username"/> </label></div>
    <div><label>Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign in"/> </div>

</form>
</body>
</html>